@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    box-sizing: border-box;
    user-select: none;
}

#bar {
    width: 200vw;
    transition: 1000ms all linear;
}

#timer {
    position: absolute;
    margin: auto;
    font-size: 30vw;
    font-weight: 900;
    -webkit-text-stroke: 1.5px white;
    -webkit-text-fill-color: #FF7B7B;
    z-index: 10;
}

body {
    font-family: Roboto, sans-serif;
    overflow-y: auto;
    background-color: #FF7B7B;
}

body.is-flexible {
    overflow: auto;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    min-height: 100vh;
    padding: 24px 56px 40px 32px;
    position: relative;
}

.content.is-index {
    display: block;
}

h1 {
    font-weight: 900;
    font-size: 88px;
    line-height: 1.1;
    letter-spacing: 5px;
    text-transform: uppercase;
    -webkit-text-stroke: 1.5px black;
    -webkit-text-fill-color: white;
    padding-bottom: 40px;
    padding-top: 16px;
}

.is-right {
    position: absolute;
    right: 32px;
}

h1.is-right {
    visibility: visible;
}

.is-bottom {
    position: absolute;
    bottom: 0;
}

h2 {
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 48px;
    font-weight: 500;
}

h2 span:last-child {
    padding-left: 48px;
}

h2 a {
    color: inherit;
}

h2 a:hover {
    color: rgba(102, 155, 165, 1);
}

h3 {
    font-size: 22px;
    line-height: 1.4;
    padding-bottom: 16px;
    font-weight: 500;
}

p {
    padding-bottom: 24px;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.4;
}

ul {
    list-style: circle inside;
    padding-left: 8px;
    font-size: 24px;
    font-weight: 300;
}

li {
    line-height: 1.4;
    padding-bottom: 16px;
}

.btn {
    font-weight: bold;
    font-size: 28px;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 16px 24px;
    color: #000000;
    border: 1px solid black;
    border-radius: 42px;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    left: 32px;
    background: white;
    cursor: default;
}

.btn.is-right {
    left: unset;
    right: 56px;
}

.btn:hover {
    color: rgba(102, 155, 165, 1);
    border: 1px solid rgba(102, 155, 165, 1);
}

.info {
    border: 1px solid #000000;
    padding: 24px 96px 24px 16px;
    display: inline-flex;
    flex-flow: column;
    background: white;
    box-shadow: 20px 16px black;
    max-width: 960px;
    overflow: scroll;
}

.progress-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


@media screen and (max-width: 414px) {
  h1 {
      font-size: 35px;
      font-weight: 900;
      text-align: center;
      line-height: 100%;
      letter-spacing: 5px;
      border: none;
      padding-bottom: 20px;
  }

  h2 {
      font-weight: 500;
      font-size: 18px;
      line-height: 110%;
      text-align: center;
      padding-bottom: 20px;
  }

  .btn {
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      align-items: center;
      justify-content: center;
      left: 80px;
  }

  .info {
      padding: 24px 20px 43px 8px;
  }

  h3 {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      padding-bottom: 8px;
  }

  p {
      font-weight: 300;
      font-size: 16px;
      line-height: 140%;
      padding-bottom: 8px;
  }

  .btn.is-right {
      right: 95px;
  }

  h2 span {
      display: inline-block;
  }

  h2 span:last-child {
      padding-left: 0px;
  }

  .content h1 {
      text-align: inherit;
      text-align: center;
  }

  h1.is-right {
      visibility: hidden;
  }

  .is-bottom {
      left: 80px;
    }

    .info {
      padding: 20px 20px 20px 8px;
    }

    li {
      font-weight: 300;
      font-size: 16px;
      line-height: 140%;
      padding-bottom: 8px;
    }

    .content {
      overflow-y: scroll;
    }

    .content_scroll {
      overflow: hidden;
    }

}
